
    <!-- contact -->
    <div id="contact" class="row section bg-light">
      <div class="col-md-4 col-sm-12">
        <h1>Contact</h1>
      </div>
      <div class="col-md-8 col-sm-12">
        <h2>Let's get in touch!</h2>
        <p>
          <strong>email</strong>: stephencockerill66@gmail.com
          <a href="mailto:stephencockerill66@gmail.com?Subject=Hey%20there!" target="_top"> <img class="icon" src="../img/icons/email.svg"></a>
        </p>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
